@{
    ViewBag.Title = "Home Page";
}

@if (!string.IsNullOrEmpty(ViewBag.message))
{
    <text>
    <div class="row">
        <div class="col-md-12">
            <center>
                <p><strong style="color: red;">@WebUtility.HtmlDecode(ViewBag.message)</strong></p>
            </center>
        </div>
    </div>
    </text>
}

<div class="jumbotron">
    @*<h1>Welcome to Wallet Manager</h1>*@
    <p class="lead">Welcome to Wallet Manager</p>
</div>
